.about-best-quality-image-container {
  &__main-image {
    height: 400px;
    width: 80%;
    margin-top: 40px;
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
  }

  &__main-image2 {
    background-color: var(--gray-300);
    height: 330px;
    width: 240px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: var(--border-radius);
    overflow: hidden;
  }

  &__shape-01 {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: -20px;
    transform: translate3d(-41.2px, 19.9px, 0px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }

  &__shape-02 {
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 20px;
    margin-top: -30px;
  }

  &__shape-03 {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &__shape-04 {
    position: absolute;
    left: 0;
    z-index: 2;
    bottom: 0;
    margin-bottom: -80px !important;
    img {
      width: 120px;
    }
  }
}

@include respond-to($md) {
  .about-best-quality-image-container__main-image {
    width: 100%;
  }
}
