.article-html-render {
  img {
    width: 100%;
    border-radius: var(--border-radius);
    height: 100%;
    object-fit: contain;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div,
  span {
    font-weight: 500;
  }

  a {
    color: var(--blue) !important;
  }

  iframe {
    height: 100% !important;
    min-height: 400px !important;
    width: 100%;
    border-radius: var(--border-radius);
  }
}
