.why-choose-us {
  position: relative;
  width: 100%;

  &::before {
    @include box-full;
    z-index: 1;
    width: 50%;
    height: 100%;
    background-color: var(--dark);
    -webkit-transform: skewX(-14deg);
  }

  &__item-number {
    font-size: 68px !important;
    font-style: italic;
    width: 50px !important;
    flex-shrink: 0;
    font-weight: 700 !important;
    line-height: 80% !important;
    transition: 0.6s;
  }
}

.why-choose-us__item {
  transition: 0.6s;
  color: white;
  &:hover {
    .why-choose-us__item-number {
      transition: 0.6s;
      background: linear-gradient(to right, var(--primary), #ff7300);
      -webkit-background-clip: text;
      color: transparent;
    }
  }
}

.learn-japan-item {
  border: 2px solid;
  border-color: var(--gray-300);
  border-radius: 10px;
  cursor: pointer;
  padding: 24px;
  transition: 0.6s;

  &:hover {
    box-shadow: var(--box-shadow);
  }
}

.learn-japan-item-type2 {
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.6s;
  overflow: hidden;

  &__image-box {
    overflow: hidden;
    height: 220px;
    width: 100%;
    position: relative;
  }

  &:hover {
    box-shadow: var(--box-shadow);
  }
}

.team-item {
  .team-avatar {
    position: relative;
    height: 400px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;

    .team-content {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 1.5s; /* Adjust the duration and properties as needed */
      color: #fff !important;
      z-index: 6;
      text-align: center;
      font-weight: 600;
      padding: 12px;
    }

    &::after {
      @include box-full;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.701);
      opacity: 0;
      transition: opacity 1.5s; /* Adjust the duration and properties as needed */
    }

    &:hover {
      &::after {
        opacity: 1;
      }

      .team-content {
        opacity: 1;
      }
    }
  }
}

.why-choose-us-swiper {
  height: 100%;
  width: 100%;
  position: relative;

  .swiper-slide {
    height: 100%;
    width: 100%;
    position: relative;
  }

  .swiper-pagination-bullet {
    width: 24px;
    border-radius: 4px;
    background-color: var(--white);
    height: 6px !important;
  }

  .swiper-pagination-bullet-active {
    width: 40px !important;
  }

  .swiper-button-prev {
    top: auto !important;
    bottom: 0 !important;
    left: auto !important;
    right: 0 !important;
    background-color: #ffffff49;
    height: 34px;
    width: 34px;
    border-radius: 10px;
    z-index: 999;
    margin-bottom: 16px;
    margin-right: 68px;

    &::after {
      font-size: 16px;
      color: var(--white);
    }
  }

  .swiper-button-next {
    top: auto !important;
    bottom: 0 !important;
    left: auto !important;
    right: 0 !important;
    background-color: #ffffff49;
    height: 34px;
    width: 34px;
    border-radius: 10px;
    z-index: 999;
    margin-bottom: 16px;
    margin-right: 24px;

    &::after {
      font-size: 16px;
      color: var(--white);
    }
  }

  .why-choose-us-swiper-shape-01 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background-color: var(--dark-blue);
    z-index: 2;
    clip-path: polygon(100% 0, 0% 100%, 0 0);
  }
}
