// ======================================================
// Abstracts :: Variables
// ======================================================

// Paths
$path-image: '/images';
$path-icon: '/icon';
$path-fonts: '/fonts';

// Box model properties
$padding: 16px;
$padding-xs: 8px;
$padding-sm: 16px;
$padding-md: 24px;
$padding-lg: 32px;

$input-padding: 9px 14px;
$button-padding: 8px 14px;
$base-padding: 6px 14px;

// Breakpoints
$breakpoints: (
  small: 767px,
  medium: 992px,
  large: 1200px,
  extra-large: 1536px,
);

// breake point width
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;

:root {
  // Colors
  --app-bg-color: #fff;
  --white: #ffffff;
  --light: #e9ebec;

  --primary: #ef551c;
  --primaryLighter: #eeb200;
  --secondary: #0d3ff4;
  --success: #50cd89;
  --info: #7239ea;
  --warning: #ffc700;
  --danger: #ff0000;
  --dark: #181c32;
  --dark-lighter: #181c328e;
  --dark-blue: #051650;
  --dark-blue-lightest: #1e435a28;

  --blue: #1976d2;
  --blue-lighter: #1976d227;

  --primary-lighter: #fbc90082;
  --primary-lightest: #fbc90019;
  --secondary-light: #f9f9f9;
  --success-light: #e8fff3;
  --info-light: #f8f5ff;
  --warning-light: #fff8dd;
  --danger-light: #ffe1e1;
  --dark-light: #f4f4f4;

  --gray-50: #f6f6f6;
  --gray-100: #f9f9f9;
  --gray-200: #f4f4f4;
  --gray-300: #e1e3ea;
  --gray-400: #b5b5c3;
  --gray-500: #a1a5b7;
  --gray-600: #7e8299;
  --gray-700: #5e6278;
  --gray-800: #3f4254;
  --gray-900: #181c32;

  --body-color: #1e435a;
  --link-color: #009ef7;
  --link-hover-color: #0095e8;

  // Input colors
  --input-placeholder-color: #a1a5b7;
  --input-color: #5e6278;
  --input-border-color: #e1e3ea;
  --input-border-color-hover: #b5b5c3;
  --input-border-color-focus: #181c32;
  --input-bg: #f9f9f9;
  --input-bg-focus: #f4f4f4;
  --input-placeholder-color: #a1a5b7;

  // Table
  --table-border-color: #f4f4f4;

  // Sidebar colors
  --app-sidebar-light-separator-color: #e4e6efa5;

  // Borders
  --border-width: 1px;
  --border-style: solid;
  --border-color: #e4e6efa5;
  --border-color-translucent: rgba(0, 0, 0, 0.175);

  --border-radius: 10px;
  --border-radius-sm: 0.475rem;
  --border-radius-lg: 0.625rem;
  --border-radius-xl: 1rem;
  --border-radius-2xl: 2rem;
  --border-radius-pill: 50rem;

  --cp-border-radius: 4px;

  // Fonts
  --font-family-base: 'Arial, Helvetica, sans-serif';
  --body-font-size: 0.875rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;

  // Box shadow
  --box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
  --box-shadow-xs: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --box-shadow-sm: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
  --box-shadow-lg: 0 1rem 2rem 1rem rgba(0, 0, 0, 0.1);
  --bs-menu-dropdown-box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);

  // Side bar
  --app-sidebar-width: 220px;
  --app-sidebar-width-actual: 220px;

  // Header
  --app-header-height: 58px;
  --app-header-height-actual: 70px;

  //
  --base-height: 36px; // button, input

  --text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.56);
}

.gradient-text {
  background: linear-gradient(to right, var(--primaryLighter), var(--primary));
  -webkit-background-clip: text;
  color: transparent;
}
