@use 'sass:map';

.MuiCard-root {
  border-radius: 10px !important;
}

// Styles card auth
.card-auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__main {
    background-color: var(--white);
    box-shadow: var(--box-shadow-xs) !important;
    padding: 16px 0px 34px 16px;
    border-radius: var(--border-radius) !important;
  }

  &--content {
    display: flex;
    align-items: center;
    padding-right: 42px;
  }
}

.card-dashboard {
  background-color: var(--primary);
  &.MuiCard-root {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 16px;
    box-shadow: rgb(0 0 0 / 4%) 0px 10px 10px 4px;
  }
  .MuiCardContent-root:last-of-type {
    padding: 16px 24px;
  }
}

@include respond-to(map.get($breakpoints, 'small')) {
  .card-auth-wrapper--main {
    .ic {
      width: 100%;
      margin-top: -20px !important;
      margin-bottom: -40px !important;
    }
  }
  .card-auth-wrapper--content {
    padding-right: 0px !important;
  }
}

// FRONT
.open-schedule-item {
  border: 2px solid var(--gray-300);
  box-shadow: var(--box-shadow-xs) !important;
  border-radius: 10px !important;
}

// CP
.cp-card-block {
  border-radius: 4px !important;
  border: 1px solid var(--gray-300);

  &__body-content {
    padding: 12px !important;
  }

  &__header {
    padding: 8px 12px;
    border-bottom: 1px solid var(--gray-300);
    background-color: var(--gray-200);
    font-size: 13px !important;
    font-weight: 600;
    color: var(--gray-700);
  }
}
