.course-chapter-item {
  .MuiAccordionSummary-root {
    border-radius: var(--border-radius) !important;
    border: 2px solid var(--gray-300);
    background-color: #fff !important;
  }
  &::before {
    background-color: transparent !important;
  }
}

.MuiAccordion-root {
  background-color: transparent !important;
}

.course-related-swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 120px;
  padding-top: 16px !important;
  height: 320px;

  .swiper-button-next {
    margin-top: -50px !important;
    background-color: #fff !important;
    z-index: 99999 !important;
    overflow: visible !important;
    right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .swiper-button-next:after {
    font-size: 24px;
  }

  .swiper-button-prev {
    margin-top: -50px !important;
    background-color: #fff !important;
    z-index: 99999 !important;
    overflow: visible !important;
    left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .swiper-button-prev:after {
    font-size: 24px;
  }

  .swiper-pagination-bullet {
    width: 30px;
    border-radius: 4px !important;
    background-color: var(--gray-600);
  }

  .swiper-pagination-bullet-active {
    width: 40px !important;
    background-color: var(--gray-400);
  }
}
