.cp-primary-button {
  &.MuiButton-root {
    font-weight: 600 !important;
    height: var(--base-height) !important;
    border-radius: 4px !important;
  }
}

.btn-admin-footer {
  &.MuiButton-root {
    display: flex;
    height: calc(var(--base-height) + 2px) !important;
    justify-content: flex-start !important;
    padding: 0px 13px 0px 4px !important;
    border-radius: 4px !important;
    gap: 6px !important;

    strong {
      width: 100% !important;
      text-align: left;
    }
  }
}
