.custom-data-table-wrapper {
  position: relative;
  width: 100%;
  border-radius: var(--border-radius);

  .MuiTableContainer-root {
    min-height: 100px;
    .MuiTableCell-head {
      padding-top: 10px !important;
      white-space: nowrap !important;
      padding-bottom: 10px !important;
      font-weight: 600 !important;
      background-color: #ebebeb;
      text-transform: capitalize;
      span {
        font-weight: 600 !important;
      }
    }
  }

  .divider-table {
    margin-top: 16px;
    height: 8px;
    width: 100%;
    background-color: #2b7489;
  }

  .MuiTableCell-root {
    &.disable-padding {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }

    &.disable-cursor {
      cursor: not-allowed !important;
    }
  }

  .MuiTableCell-root {
    border-color: var(--border-color) !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
  }

  // Table body
  .MuiTableBody-root {
    .MuiTableRow-root {
      .MuiTableCell-root {
        cursor: pointer;
        font-weight: 500 !important;
        color: var(--gray-800);

        span {
          @include textNLine(1);
        }
        .MuiTypography-root {
          @include textNLine(1);
          font-size: 14px;
        }
        &:hover {
          color: var(--dark) !important;
        }
      }
    }
    .no-data-found {
      .MuiTableCell-root {
        cursor: default !important;
        border-bottom: 0px !important;
      }
    }
  }
}

.data-table-consumption-report-avg {
  min-height: 500px !important;
}

.product-data-table {
  box-shadow: none !important;
  // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
  border: 1px solid var(--gray-300);
  .MuiTableHead-root {
    .MuiTableRow-root {
      background-color: var(--gray-100) !important;
      .MuiTableCell-root {
        font-weight: 600;
      }
    }
  }

  tr th {
    font-size: 13px !important;
    white-space: nowrap !important;
  }
}

.ingredient-data-table-row {
  .MuiTableCell-root {
    border-right: 1px solid var(--gray-300) !important;
  }
  .MuiTableCell-root:last-child {
    border-right: 0px !important;
  }
}

.consumption-report-log {
  padding-left: 2px;
  list-style-type: none;
  li {
    float: left !important;
    width: 50%;
    padding-left: 0;
    margin-left: 0;
    padding-bottom: 3px;
  }
}
