/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

$fontWeight: 600 !important;

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.front-input-field {
  .MuiFormControl-root {
    transition: 0.6s !important;

    .MuiOutlinedInput-root {
      .MuiOutlinedInput-input {
        padding: 10px 16px !important;
        font-size: var(--body-font-size) !important;
        color: var(--gray-700) !important;
        font-weight: $fontWeight;
        background-color: #fff;
        border-radius: var(--border-radius);
        &::placeholder {
          opacity: 0.7;
        }
      }

      fieldset {
        border-radius: var(--border-radius);
        border-color: var(--input-border-color) !important;
      }
    }

    // Adorned end
    .MuiInputBase-adornedEnd {
      padding-right: 6px !important;
      background-color: #fff;
      border-radius: var(--border-radius);
    }

    .Mui-focused fieldset {
      transition: 0.4s !important;
    }

    // Multiline textarea
    .MuiInputBase-multiline {
      padding: 0px !important;
    }

    .Mui-disabled {
      &:hover {
        fieldset {
          border-color: var(--input-border-color) !important;
        }
      }
    }
  }
}

// Input label
.MuiInputLabel-root {
  font-size: 12px !important;
  font-weight: 700 !important;
  color: var(--dark) !important;
  padding-bottom: 3px !important;
  text-transform: capitalize;
}

.required {
  color: var(--danger);
}

.input-label {
  @extend .MuiInputLabel-root;
}

// Autocomplete styles
.MuiFormControl-root {
  .MuiAutocomplete-root {
    border-radius: var(--border-radius);
    .MuiAutocomplete-input {
      font-size: var(--body-font-size) !important;
      padding: 0px 4px !important;
    }

    fieldset {
      border-color: var(--input-border-color) !important;
    }

    // Form label root
    .MuiFormLabel-root {
      font-size: var(--body-font-size) !important;
    }

    // Pseudo class
    &:hover {
      fieldset {
        border-color: var(--input-border-color-hover) !important;
      }
    }

    .Mui-focused fieldset {
      border-color: var(--input-border-color-focus) !important;
    }

    .MuiChip-root {
      background-color: #2e7d32 !important;
      color: #fff;
      font-weight: $fontWeight;
      .MuiSvgIcon-root {
        color: #fff !important;
      }
    }
  }
}

// MuiAutocomplete-popper
.MuiAutocomplete-popper {
  z-index: 99999 !important;
  .MuiPaper-root {
    border-radius: 0px 0px var(--border-radius) var(--border-radius);
    box-shadow: var(--box-shadow) !important;
    border-top: 0px !important;
    border: 1px solid var(--input-border-color);
    font-size: var(--body-font-size) !important;
  }
}

.MuiInput-underline {
  .MuiInputBase-input {
    color: var(--gray-700) !important;
    font-weight: $fontWeight;
  }
}

.MuiInput-underline.MuiInput-root:after {
  border-bottom: 2px solid var(--gray-400) !important;
}
// .MuiInput-underline {
.MuiInput-underline.MuiInput-root:before {
  border-bottom: 1px solid var(--gray-400) !important;
}

// ======================================================
// Custom input
// ======================================================

.data-table-search-field {
  display: flex;
  align-items: center;
  height: var(--base-height) !important;
  padding: 6px 6px 6px 10px !important;
  gap: 6px;
  border-radius: var(--border-radius);
  border: 1px solid var(--input-border-color);
  background-color: var(--gray-300);
  font-size: 14px;
  border-radius: 4px;
  @include transition(0.4s);

  &:focus-within {
    border-color: var(--gray-400);
    background-color: var(--gray-300);
  }

  .MuiInputBase-root {
    width: 100% !important;
    flex: 1 !important;
    font-weight: 600 !important;
  }

  .MuiIconButton-root {
    margin-right: -4px;
  }
}

// input dropzone
.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}

.dropzone-thumbsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px;
}

.dropzone-thumb {
  display: inline-flex;
  border-radius: 2px;
  border: 1px solid #eaeaea;
  margin-bottom: 8px;
  margin-right: 8px;
  width: 100px;
  height: 100px;
  padding: 4px;
  box-sizing: border-box;
}

.dropzone-thumbInner {
  display: flex;
  min-width: 0;
  overflow: hidden;
}

.dropzone-img {
  display: block;
  width: auto;
  height: 100%;
}

.MuiFormControlLabel-label {
  font-size: 13px !important;
  font-weight: $fontWeight;
  color: var(--dark) !important;
}

.Mui-focused fieldset {
  transition: 0.6s !important;
}

.Mui-checked {
  transition: 0.6s !important;
}

.MuiCheckbox-root {
  transition: 0.6s !important;
}

.search-field {
  display: flex;
  align-items: center;
  border: 1px solid var(--gray-300);
  border-radius: var(--cp-border-radius);
  padding-left: 8px;
  padding-right: 2px;
  height: var(--base-height);
  background-color: var(--white);

  .MuiInputBase-root {
    width: 100% !important;
    padding-left: 4px;
    .MuiInputBase-input {
      padding-left: 4px;
      font-weight: $fontWeight;
      font-size: 14px;
      color: var(--gray-700) !important;

      &::placeholder {
        opacity: 0.7 !important;
      }
    }
  }

  .MuiSvgIcon-root {
    color: var(--gray-700);
  }

  transition: 0.6s;
  &:focus-within {
    transition: 0.6s;
    border-color: var(--gray-400);
  }
}

.input-align {
  &__right {
    .MuiInputBase-input {
      display: flex;
      justify-content: flex-end;
      text-align: end;
    }
  }
}

.MuiFormHelperText-root {
  margin-left: 0px !important;
}

.MuiFormControlLabel-root {
  margin-right: 0px !important;
}
