.tabs-language {
  .MuiTabs-flexContainer {
    display: inline-flex;
    border-radius: 8px;
    background-color: var(--gray-100);
    border: 1px solid var(--gray-200);
    padding: 4px !important;
    overflow: hidden;
  }

  .MuiButtonBase-root {
    min-height: 32px !important;
    text-transform: none !important;
    padding: 0px 12px;
    border-radius: 6px;
    line-height: 100%;
    min-width: 120px !important;
    &.Mui-selected {
      background-color: var(--white) !important;
      box-shadow: var(--box-shadow-xs) !important;
    }
  }

  .MuiTabs-indicator {
    display: none !important;
  }
}

.cp-tab-change-locale {
  display: inline-flex !important;
  flex-direction: row !important;
  background-color: var(--gray-300);
  padding: 4px;
  border-radius: 4px;
  .MuiButtonBase-root {
    background-color: var(--gray-300) !important;
    color: var(--dark);
    border-radius: var(--cp-border-radius) !important;
    height: calc(var(--base-height) - 4px);
    width: 120px;

    &.cp-tab-change-locale__actived {
      background-color: var(--white) !important;
    }
  }
}

.fr-tab-lang {
  display: flex !important;
  flex-direction: row !important;
  background-color: var(--white);
  border-radius: calc(var(--border-radius) - 4px) !important;
  overflow: hidden !important;
  border: 1px solid var(--danger);
  .MuiButtonBase-root {
    width: auto !important;
    min-width: auto !important;
    border-radius: 0px !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
    color: var(--danger);
    // height: 28px !important;
    padding: 0px !important;
    position: relative;
  }

  .fr-tab-lang__actived {
    background-color: var(--danger) !important;
    color: var(--white) !important;
  }
}
