.main-tag {
  border-radius: 6px !important;
  font-size: 10px !important;
  font-weight: 700 !important;
  height: 20px !important;
  .MuiChip-label {
    padding: 0px 6px !important;
  }
}

.MuiChip-filledTonal {
  &.MuiChip-colorInfo {
    background-color: var(--blue-lighter) !important;
    color: var(--blue) !important;
    border: 1px solid var(--blue) !important;
    font-weight: 700 !important;
  }
  &.MuiChip-colorSuccess {
    background-color: var(--success-light) !important;
    color: var(--success) !important;
    border: 1px solid var(--success) !important;
    font-weight: 700 !important;
  }
}

.status-label {
  border-radius: 4px !important;
  font-weight: 600 !important;
}

.MuiChip-sizeSmall {
  font-weight: 600 !important;
  span:first-letter {
    text-transform: uppercase !important;
  }
}
