html {
  display: flex;
  flex-direction: column;

  margin: 0px;
  padding: 0px;

  background-color: #fafafa !important;
  scroll-behavior: smooth;
  body {
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);

    background-color: #fafafa !important;

    font-family: Arial, Helvetica, sans-serif !important;
    // color: var(--body-color);
    margin: 0px;
    // p {
    //   color: var(--body-color);
    // }
  }
}

// Style link, a
a {
  text-decoration: none !important;
  color: black;
  font-weight: 500;
}

.cursor {
  @include m('pointer') {
    cursor: pointer !important;
  }
}

.img-zoom {
  cursor: pointer;
  overflow: hidden;
  img {
    transition: 250ms;
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.highlight {
  background: linear-gradient(transparent 30%, #feeca4 30%);
}

.banner-upload-box {
  height: 250px;
  border: 1px solid var(--gray-300);
  border-radius: var(--cp-border-radius);
  cursor: pointer;
  @include css3-prefix(transition, 0.6s);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);

  svg {
    color: var(--gray-400);
  }
  &:hover {
    box-shadow: var(--box-shadow);
    background-color: var(--gray-100);
    border-color: var(--gray-400);
  }
}

.banner-upload {
  border: 1px solid var(--gray-300);
  height: 250px;
  box-shadow: var(--box-shadow-xs);
  position: relative;
  width: 100%;
  border-radius: var(--cp-border-radius);
  overflow: hidden;

  @include e('btn-edit') {
    background-color: #ffffffbf !important;
    color: var(--dark) !important;
    width: 28px !important;
    height: 28px !important;
    position: relative;
  }

  @include e('btn-remove') {
    border: 1px solid opacity($color: var(--danger)) !important;
    background-color: var(--danger-light) !important;
    width: 28px !important;
    height: 28px !important;
    position: relative;
  }
}

.ql-toolbar.ql-snow {
  border-color: var(--gray-300) !important;
  border-radius: 6px 6px 0px 0px;
}

.ql-container.ql-snow {
  border-radius: 0px 0px 6px 6px;
  border-color: var(--gray-300) !important;
}

.ql-editor {
  height: 70vh !important;
  overflow-y: scroll;
  overflow: auto;
}

.line-camp-1 {
  @include textNLine(1);
}

.line-camp-2 {
  @include textNLine(2);
}

.line-camp-3 {
  @include textNLine(3);
}

.ql-align-right {
  text-align: right;
}
.ql-align-center {
  text-align: center;
}
.ql-align-left {
  text-align: left;
}

.blog-item-front {
  img {
    width: 100%;
  }
}

.about-content {
  // padding-top: 34px;
  img {
    width: 100%;
  }

  &.ql-editor {
    padding: 0px !important;
  }
}

.ql-editor {
  line-height: 30px;
}

.ql-editor ul,
ol {
  padding-left: 0.25rem;
}

.ql-indent-1 {
  padding-left: 2.5rem;
}

p {
  margin-top: 6px;
  margin-bottom: 6px;
  font-family: Arial, Helvetica, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 6px !important;
}

.Toastify__toast {
  z-index: 999999999 !important;
}

.Toastify__toast-container--top-right {
  z-index: 999999999 !important;
}

::selection {
  background-color: var(--primary);
  color: #fff;
}
